* {
  margin: auto;
}

header {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  padding: 30px 20px 30px 20px;
  background-color: #c8a2c8;
  color: white;
}

.container {
  position: relative;
}

.btn1,
.btn2 {
  border: none;
  background-color: #9370db;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn1:hover,
.btn2:hover {
  background-color: #c8a2c8;
}

.btn1:active,
.btn2:active {
  background-color: #301934;
}
